# Command prompt
<img src="im1.png" style='width:100%'>

## Listing files in a directory
```
dir
```
<img src="im2.png" style='width:100%'>

## Entering another directory
```
cd <foldername>
```
<img src="im3.png" style='width:100%'>

### Moving up
```
cd ..
```

### Entering another drive
<img src="im4.png" style='width:100%'>

## Making and deleting directory
```
mkdir <foldername>
rmdir <foldername>
```
<img src="im6.png" style='width:100%'>

## Copying a file
<img src="im7.png" style='width:100%'>

# Python

## Variables

In [4]:
a_1 = 2    # Integer
a_2 = 2.   # Float
a_3 = '2'  # String
a_4 = True # Boolean

### What can we do with them?

In [15]:
print(0, a_1, a_1+1, a_1*3, a_1**2)
print(1, a_2, a_2+1, a_2*3, a_2**2)
print(2, a_3, a_3*3)
print(3, a_4, not a_4)

0 2 3 6 4
1 2.0 3.0 6.0 4.0
2 2 222
3 True False

### Let's do this in a simple way! - lists

In [13]:
a = [2, 2., '2', True]
print(a)

[2, 2.0, '2', True]

In [14]:
for i in range(2):
    print(i, a[i], a[i]+1, a[i]*3, a[i]**2)

0 2 3 6 4
1 2.0 3.0 6.0 4.0

### How about a truth table?

In [19]:
P = [True, False, True, False]
Q = [True, True, False, False]
print('i, p, q, p and q, p or q, p and (not q), (not p) and q')
for i in range(4):
    p = P[i]
    q = Q[i]
    print(i, p, q, p and q, p or q, p and (not q), (not p) and q)

i, p, q, p and q, p or q, p and (not q), (not p) and q
0 True True True True False False
1 False True False True False True
2 True False False True True False
3 False False False False False False

### Nesting

In [20]:
A = [[1, 2],
     [3, 4]]
print(A)

[[1, 2], [3, 4]]

In [22]:
print(A[0])

[1, 2]

In [23]:
print(A[0][0])

1

# Numpy

Lists are nice, but they have some strange properties

In [24]:
print(2*A)

[[1, 2], [3, 4], [1, 2], [3, 4]]

In [25]:
print(A+1)

TypeError: can only concatenate list (not "int") to list

We'd like to use them to represent vectors, images, etc.
What if we wanted to e.g. double the strength of a force in the $x$ direction from 1 to 2 Newtons?

In [27]:
F = [1, # This is the x direction
     0] # There's nothing acting in they direction
# 2*F doesn't do the right thing

In [28]:
import numpy as np
F = np.array(F)
print(2*F)

[2 0]

Now, let's say that we find an additional component of $7\,\mathrm{N}$ in the $y$ direction. How to include it in $F$?

In [30]:
F[1] = 7
print(F)

[1 7]

# Working with tables

We can use arrays in another way.
Let's say we need to record how many days there are in a certain month

In [138]:
import numpy as np
import pandas as pd
months = pd.DataFrame([['January',   31],
                   ['February',  28],
                   ['March',     31],
                   ['April',     30],
                   ['May',       31],
                   ['June',      30],
                   ['July',      31],
                   ['August',    31],
                   ['September', 30],
                   ['October',   31],
                   ['November',  30],
                   ['December',  31]], columns=['Month', 'Number of days'])
months

        Month  Number of days
0     January              31
1    February              28
2       March              31
3       April              30
4         May              31
5        June              30
6        July              31
7      August              31
8   September              30
9     October              31
10   November              30
11   December              31

Let's find out how many months there are that have 31 days and list them.

In [145]:
cut = months['Number of days']==31
print(cut)

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7      True
8     False
9      True
10    False
11     True
Name: Number of days, dtype: bool

In [143]:
print(np.sum(cut))

7

Let's list them

In [144]:
print(months[cut])

       Month  Number of days
0    January              31
2      March              31
4        May              31
6       July              31
7     August              31
9    October              31
11  December              31

Let's say want only names

In [146]:
print(months['Month'])

0       January
1      February
2         March
3         April
4           May
5          June
6          July
7        August
8     September
9       October
10     November
11     December
Name: Month, dtype: object

Let's say we need how many days have passed before the beginning of a certain month.

January - 0

February - 31

March - 31+28...

and call it: Elapsed

In [147]:
months['N'] = 0
for i in range(1, 12):
    months['N'][i] = months['Number of days'][i-1]+months['N'][i-1]
months

D:\Programs\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        Month  Number of days    N
0     January              31    0
1    February              28   31
2       March              31   59
3       April              30   90
4         May              31  120
5        June              30  151
6        July              31  181
7      August              31  212
8   September              30  243
9     October              31  273
10   November              30  304
11   December              31  334

Let's say we'd like to save this table. We'll use the fits file format (which we'll use to save both tables and images)

In [160]:
from astropy.io import fits
c1 = fits.Column(name='Month', format='A10', array=months['Month'])
c2 = fits.Column(name='Number of days', format='J',  array=months['Number of days'])
c2 = fits.Column(name='N', format='J',  array=months['N'])

coldefs = fits.ColDefs([c1, c2, c3])
table = fits.BinTableHDU.from_columns(coldefs)

A fits table has a header

In [164]:
print(table.header)

XTENSION= 'BINTABLE'           / binary table extension                         BITPIX  =                    8 / array data type                                NAXIS   =                    2 / number of array dimensions                     NAXIS1  =                   24 / length of dimension 1                          NAXIS2  =                   12 / length of dimension 2                          PCOUNT  =                    0 / number of group parameters                     GCOUNT  =                    1 / number of groups                               TFIELDS =                    3 / number of table fields                         TTYPE1  = 'Month   '                                                            TFORM1  = '10A     '                                                            TTYPE2  = 'N       '                                                            TFORM2  = 'J       '                                                            TTYPE3  = 'notes   '                                                            TFORM3  = '10A     '                                                            CREATOR = 'Me      '                                                            END

Let's add our name to it

In [162]:
table.header.set('Creator', 'Me')
print(table.header)

We can save the table

In [165]:
table.writeto('table.fits')