# Working with tables
<img src="pandas_logo.png" style='width:50%;'>

We can use arrays in another way.
Let's say we need to record how many days there are in a certain month

In [1]:
import numpy as np
import pandas as pd
months = pd.DataFrame([['January',   31],
                   ['February',  28],
                   ['March',     31],
                   ['April',     30],
                   ['May',       31],
                   ['June',      30],
                   ['July',      31],
                   ['August',    31],
                   ['September', 30],
                   ['October',   31],
                   ['November',  30],
                   ['December',  31]],
            columns=['Month', 'Number of days'])
months

        Month  Number of days
0     January              31
1    February              28
2       March              31
3       April              30
4         May              31
5        June              30
6        July              31
7      August              31
8   September              30
9     October              31
10   November              30
11   December              31

Let's find out how many months there are that have 31 days and list them.

In [2]:
cut = months['Number of days']==31
print(cut)

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7      True
8     False
9      True
10    False
11     True
Name: Number of days, dtype: bool

In [3]:
print(np.sum(cut))

7

Let's list them

In [4]:
print(months[cut])

       Month  Number of days
0    January              31
2      March              31
4        May              31
6       July              31
7     August              31
9    October              31
11  December              31

Let's say want only names

In [5]:
print(months['Month'])

0       January
1      February
2         March
3         April
4           May
5          June
6          July
7        August
8     September
9       October
10     November
11     December
Name: Month, dtype: object

Let's say we need how many days have passed before the beginning of a certain month.

January - 0

February - 31

March - 31+28...

and call it: Elapsed

In [6]:
months['N'] = 0
for i in range(1, 12):
    months['N'][i] = months['Number of days'][i-1]+months['N'][i-1]
months

/Users/kresimirtisanic/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        Month  Number of days    N
0     January              31    0
1    February              28   31
2       March              31   59
3       April              30   90
4         May              31  120
5        June              30  151
6        July              31  181
7      August              31  212
8   September              30  243
9     October              31  273
10   November              30  304
11   December              31  334

Our months table can me summarized.
Let's ask pandas to give us the mean number of days (srednja vrijednost).

In [7]:
months.mean()

Number of days     30.416667
N                 166.500000
dtype: float64

### Task 1
Make a new table, called numbers.
* First column should be filled with numbers from 1 to 5 named 'N'
* Second column should be filled with their squares
* Third column should be filled by their square roots

After defining it, find the following:
1. Mean of each column
2. Maximum of each column
3. Minimum of each column
4. Sum of each column
5. Median of each column
    * Median is the number that would be exactly in the middle of all numbers
        * median of (1, 2, 3 ) is 2
        * median of (1, 1, 7, 12) is $(7+1)/2=4$

### Solution

In [8]:
numbers = pd.DataFrame([[1], [2], [3], [4], [5]],
                      columns = ['N'])
numbers['N^2'] = numbers['N']**2
numbers['N^0.5'] = np.sqrt(numbers['N'])
print('Mean')
print(numbers.mean())
print('Maximum')
print(numbers.max())
print('Minimum')
print(numbers.min())
print('Median')
print(numbers.median())

Mean
N         3.000000
N^2      11.000000
N^0.5     1.676466
dtype: float64
Maximum
N         5.000000
N^2      25.000000
N^0.5     2.236068
dtype: float64
Minimum
N        1.0
N^2      1.0
N^0.5    1.0
dtype: float64
Median
N        3.000000
N^2      9.000000
N^0.5    1.732051
dtype: float64

We can do this all together

In [9]:
numbers.describe()

              N       N^2     N^0.5
count  5.000000   5.00000  5.000000
mean   3.000000  11.00000  1.676466
std    1.581139   9.66954  0.486647
min    1.000000   1.00000  1.000000
25%    2.000000   4.00000  1.414214
50%    3.000000   9.00000  1.732051
75%    4.000000  16.00000  2.000000
max    5.000000  25.00000  2.236068

# FITS
Let's say we'd like to save this table. We'll use the fits file format (which we'll use to save both tables and images)

In [10]:
from astropy.io import fits
c1 = fits.Column(name='Month', format='A10', array=months['Month'])
c2 = fits.Column(name='Number of days', format='J',  array=months['Number of days'])
c3 = fits.Column(name='N', format='J',  array=months['N'])

coldefs = fits.ColDefs([c1, c2, c3])
table = fits.BinTableHDU.from_columns(coldefs)

A fits table has a header

In [11]:
table.header

XTENSION= 'BINTABLE'           / binary table extension
BITPIX  =                    8 / array data type
NAXIS   =                    2 / number of array dimensions
NAXIS1  =                   18 / length of dimension 1
NAXIS2  =                   12 / length of dimension 2
PCOUNT  =                    0 / number of group parameters
GCOUNT  =                    1 / number of groups
TFIELDS =                    3 / number of table fields
TTYPE1  = 'Month   '
TFORM1  = '10A     '
TTYPE2  = 'Number of days'
TFORM2  = 'J       '
TTYPE3  = 'N       '
TFORM3  = 'J       '

Let's add our name to it

In [13]:
table.header.set('Creator', 'Me')
table.header

XTENSION= 'BINTABLE'           / binary table extension
BITPIX  =                    8 / array data type
NAXIS   =                    2 / number of array dimensions
NAXIS1  =                   18 / length of dimension 1
NAXIS2  =                   12 / length of dimension 2
PCOUNT  =                    0 / number of group parameters
GCOUNT  =                    1 / number of groups
TFIELDS =                    3 / number of table fields
TTYPE1  = 'Month   '
TFORM1  = '10A     '
TTYPE2  = 'Number of days'
TFORM2  = 'J       '
TTYPE3  = 'N       '
TFORM3  = 'J       '
CREATOR = 'Me      '

We can save the table

In [14]:
table.writeto('table.fits')